.no-data {
  height: 14em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    font-size: 8em;
    animation: rotating .8s linear infinite;
    animation-timing-function: ease;
  }

  &__icon, &__message {
    color: #666;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
