@import 'mixins';

.general-view {
  $general_margin: 1em;
  margin: $general_margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  @mixin set-width() {
    @include for-desktop() {
      width: 60%;
    }
    @include for-mobile() {
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    @include set-width();

    &__button {
      width: 100%;
      margin-top: $general_margin !important;

      button div div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__lamps {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include set-width();
  }
}
