@import 'mixins';

.lamps-view {
  display: flex;
  min-height: 22em;
  margin-top: 1em;
  @include for-mobile() {
    justify-content: space-around;
  }
  @include for-desktop() {
    justify-content: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include for-mobile() {
      width: 70%;
    }
    @include for-desktop() {
      width: 30%;
    }

    &__button {
      width: 100%;

      button div div {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: rgba(255, 255, 255, .87) !important;
        }
      }
    }
  }

  &__lamps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include for-mobile() {
      width: 20%;
    }
    @include for-desktop() {
      width: 10%;
    }
  }
}
